@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

* {
    margin: 0;
}

body{
    background-image: url('661968.png');
}

h1{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 5em;
    margin: 3rem auto;
    -webkit-text-stroke: 4px rgb(32, 12, 214);
    color: rgb(221, 175, 23);
}

.img-card{
    width: 10em;
}

.card:hover{
    z-index: 1;
    box-shadow: 10px 5px 20px black;
}